:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


.container {
    display: block;
    width: 350px;
    height: 550px;
    background-color: #1a1a1a;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

span {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

/*Profile*/
.profile-info-name, .profile-info-status {
    font-weight: bold;
    color: #535bf2;
}

/*Btn utils*/
.editors-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #535bf2;
    border-radius: 5px;
    border: none;
    color: #f9f9f9;
    margin-right: 10px;
    cursor: pointer;
}

/*statistics block*/
ul {
    list-style: none;
}

li {
    padding: 0;
    margin: 0;
    text-align: left;
}

.statistics {
    margin-top: 20px;
    display: flex;

    margin-right: auto;
}

.btn-import {
    cursor: not-allowed;
    background-color: #213547;
}


/*category*/


.category__mainscreen {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.category__mainscreen button {
    cursor: not-allowed;
    background-color: #f9f9f9;
    border-radius: 2px;
    border: none;
}

.category__mainscreen button {
    cursor: pointer;
    margin: 0 3px;
}
/*footer*/
.footer a {
    color: #535bf2;
    text-decoration: none;
    text-transform: uppercase;
}